node_modules
.vscode
*.vim
*.env
!.env.example
*.log

db/adrenalin.*
db/*.db
public/
config.json
dist/
out/

.bak
*.pem
*.key

AGENTS*

test-results
playwright-report
coverage
cypress

package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
